/******************************************************************************/
/* STYLE - for screen under 30rem in width */
/******************************************************************************/

body {
  padding: 1rem;
}
main {

}

/******************************************************************************/
/* TYPE */
/******************************************************************************/
/* basic */
html,
h1, h2, h3, h4, h5, h6,
p,
a,
li,
i {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  word-wrap: break-word;
}

body {
  font-size: 1rem;
}

i, em {
  font-style: italic;
}


/* the rest */


/******************************************************************************/
/* LINKS */
/******************************************************************************/
a, a:link, a:visited, a:hover, a:focus, a:active {
  transition: all .4s;
}

a, .u-pseudoLink {
  border-bottom: 1px dotted;
}

a:hover, a:focus, a:active,
.u-pseudoLink:hover, .u-pseudoLink:focus, .u-pseudoLink:active {
  border-bottom: 1px solid;
}

/******************************************************************************/
/* COLOR */
/******************************************************************************/
/* fancy blue: #419BF9 */
/* text - color rules related to text */
html,
h1, h2, h3, h4, h5, h6,
p,
li {
  color: #333333;
}


/* links */
a, a:link, a:visited,
a:hover, a:focus, a:active,
.u-pseudoLink {
  color: #0091DA;
}


/* other color rules */
body {

}
main {

}

/******************************************************************************/
/* UTILITIES */
/******************************************************************************/
.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-center {
  text-align: center;
}

/*
* There is empty space in the shape of an invisible element, while an absent
* element is completely removed.
*/
.u-isAbsent {
  display: none;
}
.u-isInvisible {
  visibility: hidden;
}

.u-textbutton, .u-textbutton:link, .u-textbutton:visited, .u-textbutton:hover, .u-textbutton:focus, .u-textbutton:active {
  color: white;
  background-color: #419BF9;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.u-button-bottom-right {
  position: fixed;
  right: .5rem;
  bottom: .5rem;
}
.u-button-bottom-left {
  position: fixed;
  left: .5rem;
  bottom: .5rem;
}
.u-notification {
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  background-color: #419BF9;
  padding: .5rem 2rem;
  opacity: 0;
  transition: opacity 1s;
}
